<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>218014340651-k545bore220m748ip6tki47i5asa7ecs.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.218014340651-k545bore220m748ip6tki47i5asa7ecs</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>218014340651-altv6mmp2o5b4h4qnrm0brep4819fru7.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAdJ2KE6n3mnEttrIcg0WpJkt4mvzV5Xf8</string>
	<key>GCM_SENDER_ID</key>
	<string>218014340651</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.flutterfairy.fluttershowcase</string>
	<key>PROJECT_ID</key>
	<string>casanovo-e6a80</string>
	<key>STORAGE_BUCKET</key>
	<string>casanovo-e6a80.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:218014340651:ios:dc154cb086d9b91f51fc6e</string>
	<key>DATABASE_URL</key>
	<string>https://casanovo-e6a80.firebaseio.com</string>
</dict>
</plist>